<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>this is ejs</title>
</head>
<body>
    <h1>hello i am pratik</h1>

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit distinctio, facere omnis, voluptas impedit, in suscipit ad ut quo reiciendis quas libero corrupti. Nostrum, impedit? Nisi, soluta! Ducimus, asperiores a.
    Deleniti totam optio debitis dolore, cupiditate perspiciatis accusantium dolor quae ab ducimus quidem odit labore similique eos non autem iusto animi laborum molestiae. Numquam earum esse maiores totam temporibus voluptatem?
    Quod fugiat incidunt esse delectus illum recusandae beatae labore voluptatem voluptatibus aliquid, perspiciatis pariatur harum, aspernatur, enim doloremque! Quas modi expedita sed quam! Illum repudiandae quas, totam nemo numquam omnis.
    Laborum aliquid debitis, illo provident nam iste pariatur eveniet aliquam. Voluptatem repudiandae voluptas placeat fugit, modi, ab maiores consectetur veritatis consequatur a nemo harum, soluta neque enim iusto eum aliquid.</p>

        <%= num %>

    <button>click me!</button>

</body>
</html>