<% layout("/layouts/boilerplate.ejs") %>


    <div class="all-listings">

    <% for(Listing of Listings){%>

        <div class="each-listing">

             <a href="/listings/<%= Listing.id %>"> <img src="<%=Listing.image%>"> </a>

             <div class="each-listing-body">
                <h4> <%= Listing.title %>  </h4>
                  
                <p>
                    &#8377;<%=Listing.price%> /night
                </p>
             </div>


        </div>
    <%}%>

    </div>

